include includes/_skill-card.pug
include includes/_review-card.pug
doctype
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name="author" content="louis")
		meta(name="keywords" content="CV worker hire belgium BE beriot web developer designer bilingual french français")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title C.V. de Louis Bériot
		link(rel='stylesheet', href='/style/main.css')
	body
		noscript#no-js-alert= jsAlert1
			br 
			|
			= jsAlert2
		nav#nav.sticky
			img(src="/img/svg/logo.svg", alt="Back to the top of the main page")
			ul
				li 
					a(href="#skills") #{skills}
				li 
					a(href="#education")= education
				li 
					a(href="#references")= references
				li 
					a(href="#hobbies")= hobbies
				li 
					a(href="#contact")= contactMessage
			button.burger-menu
		header.colored-background
			h1 Louis Bériot
			div#sub-h1= subTitle
			a.get-in-touch-button(href="www.google.com")= contactMessage
			p#small-message= smallMessage1
				br
				|
				=smallMessage2
			img#hero-graphic(src="/img/browser-hero-desktop.jpg", alt="hero graphic")
		main
			section#video
				h2
				video(controls)
					source(src="/video/introductory.webm" type="video/webm")
					source(src="/video/introductory.mp4" type="video/mp4")
					Your browser does not support the video tag.
			section#skills-section
				+skillCard('https://purepng.com/public/uploads/large/purepng.com-google-logo-2015brandlogobrand-logoiconssymbolslogosgoogle-6815229372333mqrr.png', "Google's logo", 'Testing the card', 'titleThe card', 'www.google.com', 'Link to Google.com')
				+skillCard('https://purepng.com/public/uploads/large/purepng.com-google-logo-2015brandlogobrand-logoiconssymbolslogosgoogle-6815229372333mqrr.png', "Google's logo", 'Testing the card', 'titleThe card', 'www.google.com', 'Link to Google.com')
				+skillCard('https://purepng.com/public/uploads/large/purepng.com-google-logo-2015brandlogobrand-logoiconssymbolslogosgoogle-6815229372333mqrr.png', "Google's logo", 'Testing the card', 'titleThe card', 'www.google.com', 'Link to Google.com')
			section#references-section
				article 1
				article 2
				article 3
			div#page-bottom.colored-background
				section#reviews
					+review-card(review1, 'https://purepng.com/public/uploads/large/purepng.com-google-logo-2015brandlogobrand-logoiconssymbolslogosgoogle-6815229372333mqrr.png', "Google's logo")
					+review-card(review2, 'https://purepng.com/public/uploads/large/purepng.com-google-logo-2015brandlogobrand-logoiconssymbolslogosgoogle-6815229372333mqrr.png', "Google's logo")
					+review-card(review3, 'https://purepng.com/public/uploads/large/purepng.com-google-logo-2015brandlogobrand-logoiconssymbolslogosgoogle-6815229372333mqrr.png', "Google's logo")
				ul#faq
					li
						div= faq1
						p= faqParagraph1
					li
						div= faq2
						p= faqParagraph2
					li
						div= faq3
						p= faqParagraph3
		footer.colored-background
			nav#social-medias
				h3= socialMedia
				ul
					li 
						a(href="reddit.com") Reddit
					li 
						a(href="twitter.com") Twitter
					li 
						a(href="facebook.com") Facebook
					li 
						a(href="youtube.com") Youtube
			div
				h3 Office
				address
					div 288, Avenue Louis Jasmin<br>1140 Bruxelles<br>04&nbsp;69&nbsp;420&nbsp;4480
				h4 Choose a language
				form(action="" method="GET")
					select#language-dropdown(name="language")
						option(value="en")= english
						option(value="fr")= french
						option(value="nl")= dutch
	script(src="/js/main.js") 